
  // 
// _badge.scss
// 


.badge {
  &[href] {
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

// Soft badge
@mixin badge-variant-soft($bg) {
  color: $bg;
  background-color: rgba($bg, 0.18);

  &[href] {
    &:hover,
    &:focus {
      color: $bg;
      text-decoration: none;
      background-color: rgba($bg, 0.4);
    }
  }
}

.bg-primary-subtle text-primary {
  background-color: rgba(var(--bs-primary-rgb), 0.18)!important;
  color: rgba(var(--bs-primary-rgb), 1)!important;
}


$success : #34c38f;
$primary: #23d7e1;
$secondary: #b67f00;
$info: #4600b6;
$warning:#b67f00;
$danger: #ff7784;
$light:#23d7e1;
$dark: #1d1d1d;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

@each $color, $value in $theme-colors {
  .badge {
  &.bg-#{$color} {
    &[href] {
      &:hover,
      &:focus {
        background-color: darken($value, 4%) !important;
      }
    }
  }
}

.badge{
  &.bg-light{
    color: #30373f;

    &[href] {
      &:hover,
      &:focus {
        color: #30373f;
      }
    }
  }
}


  .badge-soft-#{$color} {
      @include badge-variant-soft($value);
  }
  
}

.rounded-pill{
   padding-right: .6em;
    padding-left: .6em;
}


.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left: 8px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


// Dark badge

// .badge.bg-dark{
//   color: $light;
// }


  
  
  
  
  