/* 3.04 - Sidebar - Start
================================================== */
.sidebar {
	>* {
		&:not(:last-child) {
			// margin-bottom: 70px;
		}
	}
}
.sidebar_widget_title {
	line-height: 1;
	font-size: 18px;
	margin-bottom: 35px;
	text-transform: uppercase;
}

.vertical-menu {
    width: 200px;
    z-index: 10;
    background: #fff;
    bottom: 0;
    margin-top: 0;
    position: fixed;
    top: 80px;
    .active{
        border-right: 1px solid var(--bs-primary);
        font-weight: 600;
        color: #6f6f6f;
    }
}

.main-content {
    margin-left: 20px;
    overflow: hidden;

    .content {
        padding: 0 15px 10px 15px;
        margin-top: 10px;
    }
}


#sidebar-menu {
    padding: 10px 0 30px 0;

    .mm-active {
        >.has-arrow {
            &:after {
                transform: rotate(90deg);
            }
        }
    }

    .has-arrow {
        &:after {
            content: "\F0142";
            font-family: 'Material Design Icons';
            display: block;
            float: right;
            transition: transform .2s;
            font-size: 1.1rem;
            margin-right: -5px;
            margin-top: -2px;
        }
    }

    ul {
        li {
            a {
                display: block;
                padding: .675rem 1.5rem;
                color: #232323;
                position: relative;
                font-size: .845rem;
                transition: all .4s;

                i {
                    display: inline-block;
                    min-width: 1.75rem;
                    padding-bottom: .125em;
                    font-size: 1.25rem;
                    line-height: 1.40625rem;
                    vertical-align: middle;
                    color: #232323;
                    transition: all .4s;
                }

                svg {
                    height: 18px;
                    width: 18px;
                    color: #000;
                    margin-right: 10px;
                    margin-top: -3px;
                }

                &:hover {
                    color: #000;

                    i {
                        color: #000;
                    }

                    svg {
                        color: #000;
                    }
                }
            }

            .badge {
                margin-top: 4px;
            }

            ul.sub-menu {
                padding: 0;

                li {

                    a {
                        padding: .425rem 1.5rem .425rem 3.5rem;
                        font-size: .825rem;
                        color: #000;

                        &:hover {
                            color: #000;
                        }
                    }

                    ul.sub-menu {
                        padding: 0;

                        li {
                            a {
                                padding: .4rem 1.5rem .4rem 4.5rem;
                                font-size: 13px;

                                
                            }
                        }
                    }
                }
            }
        }

    }
}

.menu-title {
    padding: 12px 20px !important;
    pointer-events: none;
    cursor: default;
    font-size: 12px;
    color: #000;
    font-weight: 400;
}

.mm-active {

    > a{
        color: #000 !important;
        i {
            color: #000 !important;
        }

        svg {
            color: #000 !important;
        }
    }
    .active {
        color: #000 !important;

        i {
            color: #000 !important;
        }
        
        svg {
            color: #000 !important;
        }
    }
    > i {
        color: #000 !important;
    }
}
/* 3.04 - Sidebar - End
================================================== */