/* 2.03 - Template Gapping or Spacing - Start
================================================== */
.section_space {
	background-color: rgb(224, 243, 255);
	padding-top: 100px;
	padding-bottom: 30px;
}

.section_space_1 {
	background-color: rgb(255, 255, 255);
	padding-top: 100px;
	padding-bottom: 30px;
}
/* 2.03 - Template Gapping or Spacing - End
================================================== */